

.amountbox {
    width: auto;             
    height: auto;             
    min-width: 30px;       
    min-height: fit-content; 
    border: 1px solid;
    padding: 2px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
}

.button{
    width: 100%;
    border-radius: 20px;
    color: white;
    background-color: brown;
    border-color: brown;
}