.meals_display{
    position: absolute;
    background-color: white;
    width: 400px;
    height: auto;
    margin-top:8%;

    left: 50%; 
    transform: translate( -50%); 
    padding: 10px;
    border-radius: 10px;
    width: 600px;
}
tr {
    border-bottom: 1px solid #ddd
}


.dishcolumn {
    padding: 0 20px;
    text-align: left;
    line-height: 1px;
}

.amountcolumn{
   align-items: right;
    padding-left: 240px;
    padding-top: 0px;
}

