.meals_display{
    position: absolute;
    background-color: white;
    width: 400px;
    height: auto;
    margin-top:8%;

    left: 50%; 
    transform: translate( -50%); 
    padding: 10px;
    border-radius: 10px;
    width: 600px;
}
tr {
    border-bottom: 1px solid #ddd
}

h3{
    color: blueviolet;
    font-weight: bold;
}
h4{
    color: brown;
    font-weight: bold;
}
h5{
    color: rgb(175, 127, 219);
    font-style: italic;

}

.dishcolumn {
    padding: 0 20px;
    text-align: left;
    line-height: 1px;
}

.amountcolumn{
   align-items: right;
    padding-left: 240px;
    padding-top: 0px;
}

