.meals_display{
    position: absolute;
    background-color: white;
    width: 400px;
    height: auto;
    margin-top:5%;
    left: 30%;
    padding: 10px;
    border-radius: 10px;
    width: 505px;
}

h3{
    color: blueviolet;
    font-weight: bold;
}
h4{
    color: brown;
    font-weight: bold;
}
h5{
    color: rgb(175, 127, 219);
    font-style: italic;

}

li {
 
    border-bottom: 1px solid #ccc; 
}

li:last-child {
    border-bottom: none; 
}

